<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <header>
    <h1>My Website</h1>
  </header>
  
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/load_game">Load Game</a></li>
      <li><a href="/new_game">New Game</a></li>
      <li><a href="/map">map</a></li>
      <li><a href="/play_game">Play Game</a></li>
    </ul>
  </nav>
  
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    &copy; 2022 My Website. All rights reserved.
  </footer>
</body>
</html>