{% extends "layout.html" %}

{% block content %}
	<!-- [ Main Content ] start -->

	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
						</div>

						<div class="card-body">
							<div class="row">
								<div class="col-md-6 mx-auto text-center">
									<h3>Welcome to Gridfall</h3>
									<p class="mb-4">Please login to continue</p>
									<a href="/login" class="btn btn-primary btn-lg">
										<i class="feather icon-log-in mr-2"></i>Login
									</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}