{% extends "layout.html" %}

{% block content %}
	<!-- [ Main Content ] start -->

	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
									<li class="breadcrumb-item">Join  Room</li>
								</ul>
							</div>
						</div>

						<div class="card-body">
							<form>
								<div class="row">
									<div class="col-md-6">
										<form>
											<div class="form-group">
												<label for="nickname">Room NickName</label>
												<input type="text" class="form-control" id="nickname" aria-describedby="nicknameHelp" placeholder="Enter a nickname">
											</div>
											
									</div>
									<div class="col-md-6">
										<label for="nickname">Room ID</label>
										<input type="text" class="form-control" id="room_id" aria-describedby="id_help" placeholder="Enter the unique ID">
									
									</div>

								</div>
								<br>
								<small id="id_help" class="form-text text-muted">Join a room by nickname or room ID.</small>
								<br>
								<button type="submit" class="btn  btn-primary">Submit</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}


