{% extends "layout.html" %}

{% block content %}
	<!-- [ Main Content ] start -->

	<!-- fade in script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		(function () {
		  var words = ["Calculating Scores","Double Checking", "Tallying Results", "Triple Checking","Finding Majorities", "Comparing Results" ],
		  i = 0;
		  setInterval(function(){ $('#words').fadeOut(function(){
			  $(this).html(words[(i = (i + 1) % words.length)]).fadeIn();
			}); }, 2000)
		})();
	  </script>

	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<div class="col-md-12">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#!"><i class="feather icon-home"></i></a></li>
									<li class="breadcrumb-item">Room / {{room_id}}</li>
								</ul>
							</div>
						</div>

						<div class="card-body">
								<div class="row">
									<div class="col-md-6 text-center">
										<h2>We are <span id="words">Calculating Scores</span></h2>
										<button class="btn  btn-primary m-2 " type="button" disabled="">
											<span class="spinner-border spinner-border-sm" role="status"></span>
											Loading...
										</button>
									</div>
									<div class="col-md-6">
										<img src="/static/assets/images/uplift.gif" style="height:400px; max-height:600px; width:auto;max-width:600px;">
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}


