{% extends "layout.html" %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Profile</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="user-about-block text-center">
                            <div class="row align-items-end">
                                <div class="col">
                                    <div class="position-relative d-inline-block">
                                        <img class="img-radius img-fluid wid-80" src="/static/assets/images/user/avatar-1.jpg" alt="User image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-3">
                            <h6 class="mb-1">{{ session.username }}</h6>
                            <p class="mb-3 text-muted">Player Stats</p>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col">
                                <h6 class="mb-1">Games Completed: 0</h6>
                            </div>
                            <div class="col">
                                <h6 class="mb-1">Current Level: 1</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}